<app-layout title="Sign in - Trello">
  <div
    class="flex h-full flex-col items-center p-4 xs:py-8 super:h-max super:px-10 super:shadow-lumina">
    <section
      class="flex h-full w-1/2 min-w-72 max-w-xs flex-col items-center rounded-[3px] super:h-auto super:w-full">
      <app-header title="Log in to continue" />
      <app-auth-form
        class="w-full"
        formInputValue="Continue"
        [errorMessages]="errorMessages" />
      <p class="mb-4 mt-6 w-max text-sm font-medium leading-4 text-[#5e6c84]">
        Or continue with:
      </p>
      <app-social-wrapper class="w-full" [socialMediaList]="socialMediaList" />
      <app-navigation-links [navigationLinksList]="navigationLinksList" />
      <div class="m-auto"></div>
      <div class="mt-4 h-[1px] w-full bg-[#c1c7d0]"></div>
      <app-footer />
    </section>
    <app-legal-links [legalLinksList]="legalLinksList" />
    <app-protected-site-message class="flex w-full justify-center" />
  </div>
</app-layout>
