<ul class="flex flex-col items-center gap-4">
  @for (socialMedia of socialMediaList(); track $index) {
    <li class="w-full cursor-pointer">
      <button
        (click)="socialMedia.authenticateWithSocialMedia()"
        class="flex h-10 w-full items-center justify-center gap-[0.625rem] border-[1px] border-[#c1c7d0]">
        <img
          [src]="socialMedia.image.url"
          [alt]="socialMedia.image.alt"
          width="24"
          height="24" />
        <span class="text-sm font-medium text-[#172B4D]">
          {{ socialMedia.name | titlecase }}
        </span>
      </button>
    </li>
  }
</ul>
