<p
  class="super:w-full mt-2 h-max w-2/5 min-w-72 max-w-xs text-center text-[0.688rem] font-normal leading-[0.875rem] text-[#44546F]">
  This site is protected by reCAPTCHA and the Google
  <a
    class="text-[#0C66E4] hover:underline"
    href="https://policies.google.com/privacy"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Privacy Policy</a
  >
  and
  <a
    class="text-[#0C66E4] hover:underline"
    href="https://policies.google.com/terms"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Terms of Service</a
  >
  apply.
</p>
