<main
  class="relative grid h-dvh min-h-[20rem] w-dvw min-w-[20rem] place-items-center overflow-hidden bg-[#fafbfc] font-roboto">
  <h1 class="sr-only">{{ title() }}</h1>
  <ng-content></ng-content>
  <img
    class="absolute bottom-0 left-0 hidden w-[27.35dvw] max-w-[23rem] super:block"
    src="https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-left.4f52d13c.svg"
    width="550"
    height="520"
    alt="Trello left"
    loading="lazy" />
  <img
    class="absolute bottom-0 right-0 hidden w-[27.35dvw] max-w-[23rem] super:block"
    src="https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-right.3ee60d6f.svg"
    width="550"
    height="520"
    alt="Trello right"
    loading="lazy" />
</main>
