@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/roboto/roboto-regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/roboto/roboto-medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
  }
}
